.chat-main__message-list--name-day{data: {message:{id: message.id}}}
  .chat-main__message-list--name-day--name
    = message.user.name
  .chat-main__message-list--name-day--day
    = message.created_at.strftime("%Y/%m/%d %H:%M")
.chat-main__message-list--comment
  - if message.content.present?
    %p.chat-main__message-list--comment--content
      = message.content
  = image_tag message.image.url, class: 'chat-main__message-list--comment--image' if message.image.present?
