* {
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  width: 100vw;
}

.side-bar{
  height: 100%;
  width: 300px;
  background-color: #253141;
  float: left;
  &__user-name{
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 20px;
  }
  &__group-list{
    height: calc(100% - 100px);
    background-color: #2f3e51;
    color: #ffffff;
    font-weight: bold;
    padding-top: 20px ;
    &--groups{
      &--group{ 
        &--name{
          margin: 0 20px 5px 20px;
          font-size: 15px;
          text-decoration:none;
        }
        &--message{
          margin: 0 20px 40px 20px;
          font-size: 11px;
        }
      }
    }
  }
}

.top-items{
  height: 20px;
  width: 260px;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  color: #ffffff;
  &__name{

  }
  &__icons{
    display: flex;
    width: 60px;
    display: block;
    text-align: right;
    &--edit{
      text-decoration: none;
    }
    &--cog{
      margin-left: 5px;
    }
  }
}

i{
  color: #ffffff;
}


.chat-main{
  height: 100%;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  float: left;

  &__group-info{
    height: 100px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--group-name{
      &--members{
        margin-top: 15px;
        font-size: 12px;
        display: flex;
        &--member{
          color: #999999;
          font-size: 12px;
        }
        &--name{
        }
      }
    }




    &--edit{
      height: 40px;
      width: 60px;
      font-size: 16px;
      color: #38aef0;
      line-height: 40px;
      margin: 28px 20px;
      border-style: solid;
      border-width: thin;
      text-align: center;
      &--url{
        color: #38aef0;
        text-decoration: none;
      }
    }
  }


  



  &__message-list{
    height: calc(100% - 100px - 90px);
    background-color: #fafafa;
    padding-top: 35px;
    padding-left: 40px;
    box-sizing: border-box;
    overflow: scroll;
    &--name-day{
      &--name{
        color: #333333;
        font-size: 16px;
        margin-bottom: 12px;
      }
      &--day{
        color: #434a54;
        font-size: 14px;
        margin-bottom: 46px;
      }
    }
    &--comment{
      &--content{

      }
      &--image{

      }
    }
  }

  &__message-form{
    height: 90px;
    background-color: #d2d2d2d2;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &--box{
      &--text-image{
        background-color: blue;
        height: 50px;
        width: 100%;
        position: relative;
        &--text{
          height: 100%;
          width: 100%;
          padding: 0 10px;
        }
        &--image{
          position: absolute;
          top: 10px;
          right: 10px;
          &--icon{
            font-size: 30px;
            color: lightgray;
          }
          &--hidden{
            display: none;
          }
        }
      }
      &--submit{
        width: 100px;
        margin-left: 15px;
      }
    }
  }
}


.chat_main__message-form--box{
  display: flex;
  width: 100%;
}

h2{ 
  font-size: 20px;
  color: #333333;
  margin-top: 35px;
  display: flex;
  flex-flow: column;
}


.far.fa-image{
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 20;
  color: gray;
  font-size: 30px;
}


a{
  color:inherit;  //linkのカラーはブラウザのデフォルトがある。左記記述により、親要素の色に合わせることができる
  text-decoration:none;
}